.btn-addCart{
    width: 100%;
    background-color: #8BC34A;
    color: white;
    border: none;
    padding: 10px 0;
    transition: 0.5s all;

}
.btn-addCart:hover{
    color:#8BC34A;
    background-color: white;
    border: 0px solid #8BC34A;
    border-bottom: none;
}
.myItem{
    padding: 20px 0;
    
}
.page-link{
    color: #448000 !important;
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
}