.navbar-nav{
    margin-right: 40px;
}
.search{
    width: 36%;
    margin-left: 10px;
}
.logo{
    width: 40px;
    margin: 0 15px;
}
@media (max-width: 574px){
 
    .search{
        width: 65%;
    }
    }